import usb.rc

on init
    # TWRP support
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /sbin:/vendor/lib:/system/lib

on boot
    # mass_storage support
    setprop sys.usb.config mass_storage,adb
	